*
{
margin:0;
padding:0;
}

body
{
height:100%;
position:relative;
}

.clear
{
clear:both;
}

.text-shadow
{
text-shadow: 0.1em 0.1em black;
}

#banner
{
width:100%;
margin:0;
padding-top:10px;
background-color:#1B84E0;
height:100px;
}

#sitename
{
float:left;
width:70%;
}

#sitename a 
{
float:left;
text-indent:15px;
text-decoration:none;
color:white;
font-family:helvetica, sans-serif;
font-size:48px;
}

#navigation
{
top:0;
height:50px;
}

#navigation ul
{
list-style-type:none;
margin-right:30px;
padding:0;
padding-top:6px;
padding-bottom:0px;
}

#navigation li
{
float:right;
padding:10px;
}

#navigation a:link,a:visited
{
width:60px;
font-size:24px;
color:white;
text-decoration:none;
font-family:helvetica, sans-serif;
}

#navigation a:hover
{
color:gold;
}

#logged-in
{
height:20px;
float:right;
}

#gold-bar
{
height:0.5em;
background-color:gold;
}

#content
{
font-family:helvetica,sans-serif;
padding-bottom:4.5em;
}

#content h1
{
padding-top:20px;
font-size:36px;
}

.left
{
padding-left:40px;
float:left;
width:30%;
}

.right
{
padding-right:40px;
float:right;
}

#footer
{
border-top:solid gold 0.5em;
width:100%;
position:absolute;
bottom:0;
background-color:#1B84E0;
height:4em;
}

#footer h3 
{
padding-top:5px;
color:white;
text-align:center;
font-family:helvetica,sans-serif;
}
