*
{
margin:0;
padding:0;
}

body
{
height:100%;
position:relative;
}

.clear
{
clear:both;
}

.text-shadow
{
text-shadow: 0.1em 0.1em black;
}

#banner
{
width:100%;
margin:0;
background-color:#1B84E0;
height:90px;
overflow:hidden;
}

#sitename
{
float:left;
padding-left:0px;
}

#sitename a 
{
float:left;
text-indent:15px;
text-decoration:none;
color:white;
font-family:helvetica, sans-serif;
font-size:48px;
}

#navigation
{
float:right;
}

#navigation ul
{
float:right;
list-style-type:none;
margin-right:30px;
padding:0;
padding-top:6px;
padding-bottom:0px;
}

#navigation li
{
float:left;
padding-left:30px;
padding-top:10px;
}

#navigation a:link,a:visited
{
width:60px;
font-size:24px;
color:white;
text-decoration:none;
font-family:helvetica, sans-serif;
}

#navigation a:hover
{
color:gold;
}

#logged-in
{
height:20px;
width:100%;
text-align:right;
}

#logged-in p
{
padding-top:0.3em;
padding-right:0.5em;
font-size:0.8em;
color:black;
font-family:helvetica, sans-serif;
}

#logged-in a
{
text-decoration:none;
}

#logged-in a:link,a:visited
{
color:white;
}

#logged-in a:hover
{
color:gold;
}

#gold-bar
{
height:0.3em;
background-color:black;
}

#content
{
margin:1em;
font-family:helvetica,sans-serif;
padding-bottom:4.5em;
}

#content h1
{
font-size:36px;
}

#content a:visited
{
color:blue;
}

.left
{
padding-left:40px;
float:left;
width:30%;
}

.right
{
padding-right:40px;
float:right;
}

#footer
{
border-top:solid black 0em;
width:100%;
position:absolute;
bottom:0;
background-color:#1B84E0;
height:1.5em;
}

#footer h3 
{
padding-top:5px;
color:white;
text-align:center;
font-family:helvetica,sans-serif;
}
