{% extends "base.html" %}

{% block content %}
<h1>Welcome to Dormbells!</h1>
<br>

<p> Hi! Welcome to Dormbells! We send you an SMS when someone's at your door - it's that plain and simple.</p>
<p> College is awesome. Living in a dorm is awesome. Every house you've ever lived in had a door bell - so why doesn't your dorm room? Why doesn't your dorm building? 
That's where Doorbell comes in - we give you a QR code you can put anywhere</p>
<br>
<bold> How to Dormbell: Get the Lowdown</bold>
<br>
<p> Simply enter your number and print off your unique QR code. Place it on your door or entrance to your residence and your set.</p> 
<br>
<p>And the best part - it's free! </p>

{% endblock %}
