<html>
<head>
<title>Dormbells</title>
<link rel="stylesheet" type="text/css" href="/mymedia/www.css" />
</head>

<body>
<div id="banner">
	<div id="sitename">
	<h1 id="sitename" class="text-shadow"><a href="/"><img src="/mymedia/dblogo.png" /></a></h1>

	</div>
	<div id="navigation">
		<ul>
		<li><h2><a href="/about">About</a></h2></li>
		<li><h2><a href="http://dormbells.posterous.com">Blog</a></h2></li>
		</ul>
	</div>
</div>
<div id="gold-bar"></div> 
<div id="content">
{% block content %}{% endblock %}
</div>
<div class="clear"></div>
<div id="footer">
	<h3 id="footer">Copyright 2011</h3>
</div>
</body>

</html>
